{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block body %}
    <div class="container">
        <h1>About MyTodo Web App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit quas laudantium magni ex quasi hic, ab repellendus eligendi mollitia nulla illum modi cupiditate, labore praesentium, ipsam nesciunt eos vitae voluptates fuga debitis accusantium! Excepturi, nulla cumque. Esse voluptatibus praesentium ab quisquam sint reiciendis, asperiores eius earum cupiditate, odit, veritatis itaque dolore? Facilis fugit assumenda, ducimus saepe labore doloribus est aspernatur iusto sit, quis ipsum rerum quidem expedita. Totam molestiae praesentium repudiandae, adipisci earum facilis deserunt aut dignissimos architecto nam? Odit omnis facilis necessitatibus laudantium quod voluptas molestiae, libero magnam! Alias ullam sed praesentium, dicta provident qui mollitia deserunt. Soluta, sunt.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, in fugiat accusantium debitis rem iste dicta, voluptatem non sequi officiis odit velit accusamus nulla hic soluta totam fuga dolor vel ipsa. Accusamus aut deserunt voluptatum optio, officia possimus nesciunt saepe expedita neque itaque ullam numquam culpa dolorum assumenda dignissimos id!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque autem fugiat explicabo architecto nihil numquam quod. Facere magni praesentium esse recusandae, nulla tenetur! Debitis numquam similique doloribus officia laudantium temporibus nesciunt corrupti in aut quidem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel facere odio a reprehenderit facilis porro corporis quas repudiandae dignissimos exercitationem nesciunt, laudantium deleniti cumque doloremque enim tempora iste hic quos ipsum quisquam adipisci? Facilis inventore sit earum ut saepe quasi.</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% endblock  %}